[Desktop Entry]
Encoding=UTF-8
Type=Application
Version=1.0
Name=PiBoard
Name[zh_CN]=远程白板
GenericName=PiBoard
GenericName[zh_CN]=远程白板
Comment=An remote white board for sharing
Comment[zh_CN]=用于远程教学的白板软件
Exec=piboard
Icon=pi-classroom-piboard
Categories=Graphics;
